@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    
    font-family: "Lato", sans-serif;
    font-style: normal;

    /* defining color properties */
    --light-one: #fff9fb;
    --light-two: #FFD504;
    --light-three: #B89BFD;

    --dark-one: #040F00;
    --dark-two: #282927;

    background-color: var(--dark-one);
    color: var(--light-one);
}

body {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Bebas Neue", sans-serif;
}

h1 {
    font-size: 5em;
    color: var(--light-two);
    font-weight: 900;
    text-align: center;
}

h2 {
    font-size: 3em;
    font-weight: 700;
}

h3 {
    font-size: 1.5em;
    margin: 0.3em;
    font-weight: 500;
}

a {
    color: var(--light-two);
}

a:hover {
    color: var(--light-three);
}

main {
    display: grid;
    justify-items: center;
    gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    margin: 1.5em;
}

@media screen and (min-width: 50em) {

    main {
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(3, 1fr);
    }

    body {
        font-size: 1.2em;
    }

    h1 {
        font-size: 5em;
        color: var(--light-two);
        font-weight: 900;
        text-align: center;
    }
    
    h2 {
        font-size: 3em;
        font-weight: 700;
    }
    
    h3 {
        font-size: 1.5em;
        margin: 0.3em;
        font-weight: 500;
    }
}

@media screen and (min-width: 75em) {

    main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 100em) {

    main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

article {
    background-color: var(--dark-two);
    border-radius: 0.5em;
    width: 100%; 
    /* height: 30em; */
    box-sizing: border-box;
    padding: 1.5em;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.3s ease; 
}

article:hover {
    box-shadow: 0 0 1.2em var(--light-three); /* Glowing border effect */
}


button {
    font-family: "Lato", sans-serif;
    padding: 0.5em 1.5em;
    border-radius: 0.5em;
    margin: 1em;
    background-color: var(--light-two);
    border: none;
    color: var(--dark-one);
    font-size: 0.7em;
}

button:hover {
    background-color: var(--light-three);
}

