.navbar>a {
    display: inline-block;
    box-sizing: border-box;
    margin-left: 1em;
    text-decoration: none;
    text-align: center;
    color: var(--light-one);
}

a.active {
    text-decoration: underline;
}

.navbar {
    background-color: var(--dark-one);
    padding: 0.5em;
    margin-bottom: 2em;
    font-size: 1em;
    border-bottom: var(--light-one) 0.1em solid;
}

@media screen and (min-width: 100em) {

    .navbar {
        font-size: 1.5em;
    }
    
}
